
<div class="footer-arus">
  <div>
  <a href="#">Amstel River Shortstay</a>
  </div>
  <div class="tekst">
  Phone: +31 6 12345678
  </div>
  <div>
  <a href="mailto:bekkersgreet@hotmail.com?subject=Info Request Amstel river Studio&body=Dear Margeretha,%0D%0AI would like to get some more information regarding your studio. .%0D%0A%0D%0ABest regards,%0D%0A" class="mybutton logo">Send email</a>
  </div>
</div>