<div class="home">
  <div class="wrapper">
    <div class="info2">

<h3>Amenities</h3>
<h4>General</h4>
<p>
Indoor Fireplace
Wireless Internet

Washer and Dryer in the building, free or for a fee
Cable TV
Iron

Central heating
</p>
<h4>Bed and Bath</h4>
<p>
Towels, bed sheets, soap, and toilet paper
Hair dryer
Shampoo
</p>
<h4>
Facilities
</h4>
Free parking on premises
Private entrance

Dining Kitchen
<h4>
Safety features
</h4>

Fire extinguisher
Smoke detector

     </p>
    </div>
    <div class="figure3">
      <%= image_tag "arus-garden-lounge.jpg", class: "figure-img" %>
    </div>
    <div class="fig-fix1">
      <%= image_tag "arus-boot-1.jpg", class: "figure-img" %>
    </div>
    <div class="figure4">
      <%= image_tag "arys-open-haard-chair.jpg", class: "figure-img" %>
    </div>
  </div>
</div>
