<div class="home">
  <div class="wrapper">
    <div class="fig3">
      <p class="tekst">Address: Amsteldijk Noord 105</p>
      <p class="tekst">Postalcode: 1183 TH Amstelveen</p>
      <p class="tekst">Phone Number: + 31 6 51304914</p>
    </div>
    <div class="fig10">
      <p class="tekst">Web: <a href="http://www.amstelrivershortstay.com">www.amstelrivershortstay.com</a></p>
      <p class="tekst">We will send directions on request:</p>
      <div>
        <a href="mailto:bekkersgreet@hotmail.com?subject=Info Request Amstel river Studio&body=Dear Margeretha,%0D%0AI would like to get some more information regarding your studio. .%0D%0A%0D%0ABest regards,%0D%0A" class="mybutton logo">Send email</a>
      </div>
    </div>
    <div id="map" class="fig6"></div>
  </div>
</div>
