<div class="home">
  <div class="banner banner-bigtext">
    Amstel river unique studio!
  </div>
  <div class="wrapper">
    <div class="info2">
      A very nice studio on the Amstel river, 5 km from
      Amsterdam center. 1 bedroom, beautifull hammam
      style bathroom, kitchen/livingroom with a big fireplace
      and a Viking stove.
      Big garden with lounge area.
      On walking distance there are
      Restaurants in the beautifull village Oudekerk aan de Amstel,
      statue of Rembrandt van Rijn, beautifull windmill,
      Cheese farm and more...
      It is also possible to rent the boat to go down town.
      Transportation is available.
      We will be very pleased to have you as our guests!
    </div>
    <div class="figure3">
      <%= image_tag "arus-garden-lounge.jpg", class: "figure-img" %>
    </div>
    <div class="fig-fix1">
      <%= image_tag "arus-boot-1.jpg", class: "figure-img" %>
    </div>
    <div class="figure4">
      <%= image_tag "arys-open-haard-chair.jpg", class: "figure-img" %>
    </div>
  </div>
</div>


