.simple-calendar {
  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {
    background-color: lightgray;
    color: gray;
  }
  .future {}

  .start-date {
    border: solid;
    border-color: black;
  }

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    background-color: $arus4;
    color: white;
  }
}
