.simple-calendar {
  .day {
    border:2px solid $arus4;
    background-color: white;
    max-width: 20px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border: solid;
    border-color: black;
    border-width: 5px;
  }

  .past {
    background-color: lightgray;
    color: gray;
  }
  .future {}

  .start-date {
  }

  .prev-month {}
  .next-month {}
  .current-month {}

  .has-events {
    background-color: $arus4;
    color: white;
  }
}

.cal {
  max-width: 500px;
  margin: 20px;
  padding: 10px;
}

table.table-bordered{
    border:2px solid $arus4;
    margin-top:20px;
    background-color: white;
  }
table.table-bordered > thead > tr > th{
    border:2px solid $arus4;    
    background-color: $arus3;
}
table.table-bordered > tbody > tr > td{
    border:2px solid $arus4;
}